PORT=5001
NODE_ENV=development

# MongoDB Atlas. Local example:
# MONGO_URI=mongodb://127.0.0.1:27017/dash
MONGO_URI=

# Local: http://localhost:5173
# Production: https://your-dash-web.onrender.com
CLIENT_URL=http://localhost:5173

# Casa Margot · Google Sheets CSV
CASA_MARGOT_CONTACTOS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQflSJB-ZujBS1N52IYvn00EXtfvKbA5Vy3GPssKVyByrHsU-Mi-vfI5dAzRlp3pM3exvrs0mPHueEY/pub?gid=1892083109&single=true&output=csv
CASA_MARGOT_ESFUERZOS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQflSJB-ZujBS1N52IYvn00EXtfvKbA5Vy3GPssKVyByrHsU-Mi-vfI5dAzRlp3pM3exvrs0mPHueEY/pub?gid=0&single=true&output=csv
CASA_MARGOT_CLIENTES_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQflSJB-ZujBS1N52IYvn00EXtfvKbA5Vy3GPssKVyByrHsU-Mi-vfI5dAzRlp3pM3exvrs0mPHueEY/pub?gid=1780929486&single=true&output=csv
CASA_MARGOT_PRODUCTOS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQflSJB-ZujBS1N52IYvn00EXtfvKbA5Vy3GPssKVyByrHsU-Mi-vfI5dAzRlp3pM3exvrs0mPHueEY/pub?gid=1062260323&single=true&output=csv
CASA_MARGOT_VENTAS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQflSJB-ZujBS1N52IYvn00EXtfvKbA5Vy3GPssKVyByrHsU-Mi-vfI5dAzRlp3pM3exvrs0mPHueEY/pub?gid=647095910&single=true&output=csv
